{% extends 'website/base.html' %} 
{% block title %} 
    Home 
{% endblock title %}

{%block content %}
    
    {% if user.is_authenticated %}
        {% if emp_list %}
            <div class="container mt-3">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <th>Employee ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </thead>
                    {% for emp in emp_list %}
                        <tr>
                            <td><a href="{% url 'employee_detail' emp.pk %}">{{emp.emp_id}}</a></td>
                            <td>{{emp.first_name}}</td>
                            <td>{{emp.last_name}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else%}
            <p>No employee records</p>
        {% endif %}
    {% else %}
        {% include 'website/login.html '%}
    {% endif %}
{% endblock %}
